@charset "ISO-8859-1";
*{

    margin: 0px;
    padding: 0px;
    
}
body{

    background-color: #fbfbfb;
}
header{

    height: 50px;
    background-color: #352791;
    
}
nav{

    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    gap: 85%;
}

nav>#sh{


    color: #FFFFFF;
    font-weight: bolder;
    text-decoration: none;
    width: 60px;
    height: 30px;
    padding: 5px;
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
    font-size: x-large;
    font-weight: bold;
}
nav>#hs{

    text-decoration: none;
    width: 60px;
    height: 30px;
    padding: 5px;
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s;
    color: goldenrod;
    font-size: larger;
    
}
nav>#sh:hover{
    
     background-color: goldenrod ;
     color: #FFFFFF;
     transform: scale(1.05,1.1);
}
nav>#hs:hover{
    
    background-color: #FFFFFF;
    color:  goldenrod ;
    transform: scale(1.05,1.1);
}
#sign{

    height: 400px;
    display: grid;
    justify-content: center;
    padding-top: 20px;

}
h1{

    text-align: center;
    line-height: 50px;
    color: goldenrod;
    margin-top: 20px;
}
form{

    border: 5px solid goldenrod;
    height: 350px;
    width: 350x;
    display: grid;
    grid-template-rows: 275px 25px;
    grid-template-columns: 300px;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
    
    
}
#submit{

    background-color: goldenrod;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: large;
    font-weight: bold;
    border-style: none;
    transition: 0.3s;
    

}
#s1{

    padding-left: 100px;
    padding-top: 20px;
    
}
#submit:hover{

    border: 2px solid;
    background-color: #FFFFFF;
    transform: scale(1.05,1.1);
    border-color: goldenrod;
    color: goldenrod;
    cursor: pointer;

}
footer{

    height: 70px;
    width: 100%;
    background-color: #352791;
    position: fixed;
    bottom: 0px;
    
}